/* Active Edit Styles */
	/*aeBody*/
	.aebody {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 12px;
		color : #6e6e6e;
	}
	/*aeReadMore*/
	.aeReadMore {
		font-family : inherit;
		font-size : smaller;
		color : inherit;
	}
/* Generic Styles */
	h1 { 
		color: #084a87; 
		font-size: 15px; 
		font-family: Arial, Helvetica, sans-serif; 
		font-weight: bold }
	h2  { 
		color: #084a87; 
		font-size: 13px; 
		font-family: Arial, Helvetica, sans-serif; 
		font-weight: bold }
	h3   { 
		color: #6e6e6e; 
		font-size: 12px; 
		font-family: Arial, Helvetica, sans-serif; 
		font-style: italic }
	h4 { 
		color: #6e6e6e; 
		font-size: 12px; 
		font-family: Arial, Helvetica, sans-serif; 
		font-weight: bold }
	td,p,div,span,li   { 
		color: #6e6e6e; 
		font-size: 11px; 
		font-family: Arial, Helvetica, sans-serif; 
		line-height: 1.5 }
	a, a:focus, a:visited {
		font-family : Arial, Helvetica, sans-serif;
		font-size : inherit;
		color : #FF6F12;
		font-weight : inherit;
		text-decoration: none;
	}
	a:hover {
		font-family : Arial, Helvetica, sans-serif;
		font-size : inherit;
		color : #FF6F12;
		font-weight : inherit;
		text-decoration: underline;
	}
	ul {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 12px;
		color : #6e6e6e;
	}
	li ul {
		font-size: 90%;
		list-style: square;
		}
/* Custom Site Styles */
	/* Home Template */
	#introText{
		background-color: EAF4DB;
		padding: 10px 8px 7px 20px;
		border: 0px solid fff;
		font-size: 11px;
		border-bottom-width: 2px;
		line-height: 1.4em;
	}
	#introText a{
		color : #6e6e6e;
		font-size: 10px;
		text-decoration: none;
	}
	#conferenceText {
		padding: 10px 20px;
		border-width: 1px 0px;
		border-color: C0D1E1;
		border-style: solid;
		font-size: 13px;
		color: #084A87;
	}
	#learnMoreAbout {
		padding: 7px 20px 10px 25px;
		line-height: 1.6em;
	}
	#learnMoreAbout a{
		color : #FF6F12;
		font-size: 10px;
		text-decoration: none;
	}
	#resources {
		padding: 10px 20px 10px 25px;
	}
	#resources a{
		color : #6e6e6e;
		font-size: 10px;
		text-decoration: none;
	}
	#news ul {
		margin-top: 6px;
		margin-right: 5px;
		font-size : 10px;
		color : #6e6e6e;
		list-style-image: url(/media/images/mag_glass.gif);
	}
	#news li {
		font-size : 10px;
		color : #6e6e6e;
		padding-bottom: 10px;
	}
	#news li b{
		font-size : 11px;
		color: 084A87;
	}
	/* Interior Template */
	#bodyDiv   { 
		padding: 8px 25px 10px 32px }
	#newsInterior ul {
		list-style-image: url(/media/images/mag_glass.gif);
	}
	#newsInterior a {
		color: #6e6e6e;
		color: 084A87;
	}
	#newsInterior li {
		padding-bottom: 1.5em;
	}
	#newsInterior li b{
		color: #084A87;
	}
	.newsTitle {
		color: #084A87;
		font-size: 13px;
		font-weight: bold;
	}
	.newsTitleSmall{
		color: #6e6e6e;
		font-weight: bold;
	}
	#productDataSheets ul {
		margin-top: 6px;
		margin-right: 5px;
		font-size : 10px;
		color : #6e6e6e;
		list-style-image: url(/media/images/dl_icon.gif);
		vertical-align: super;
	}
	#productDataSheets li {
		font-size : 10px;
		color : #6e6e6e;
		padding-bottom: 10px;
	}
	#productDataSheets li a{
		color: #6e6e6e;
	}
	#productPressReleases ul {
		margin-top: 6px;
		margin-right: 5px;
		font-size : 10px;
		color : #6e6e6e;
		list-style-image: url(/media/images/dl_icon.gif);
		vertical-align: super;
	}
	#productPressReleases li {
		font-size : 10px;
		color : #6e6e6e;
		padding-bottom: 10px;
	}
	#productPressReleases li a{
		color: #6e6e6e;
	}
	/* Site Wide */
	.footer, a.footer, a.footer:visited {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 10px;
		color : #004B8D;
		text-decoration: none;
	}
	a.footer:hover { 
		color: #084a87; 
		font-size: 10px; 
		font-family: Arial, Helvetica, sans-serif; 
		text-decoration: underline }

// i3sitetools Styles
	.formitemlabel{
		padding-bottom : 5px;
		padding-left : 5px;
		padding-right : 5px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 10px;
		color : #6e6e6e;
		vertical-align : top;
		background-color : #dadada;
	}
	.frontendformitemlabel{
		padding-bottom : 5px;
		padding-left : 5px;
		padding-right : 5px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : 666666;
		vertical-align : top;
		font-style : italic;
	}
	.formitemlabelreq{
		padding-bottom : 5px;
		padding-left : 5px;
		padding-right : 5px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 10px;
		color : Black;
		vertical-align : top;
		background-color : #dadada;
	}
	.frontendformitemlabelreq{
		padding-bottom : 5px;
		padding-left : 5px;
		padding-right : 5px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : 666666;
		vertical-align : top;
	}
	.formiteminput {
		padding-bottom : 5px;
		padding-left : 5px;
		padding-right : 5px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 10px;
		color : Black;
		vertical-align : top;
		background-color : #dadada;
	}
	.frontendformiteminput {
		padding-bottom : 5px;
		padding-left : 5px;
		padding-right : 5px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : 666666;
		vertical-align : top;
		border-style : none;
	}
	.formitemcheckbox {
		padding-bottom : 5px;
		padding-left : 5px;
		padding-right : 5px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 10px;
		color : Black;
		vertical-align : top;
		background-color : #dadada;
	}
	.frontendformitemcheckbox {
		padding-bottom : 5px;
		padding-left : 5px;
		padding-right : 5px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : 666666;
		vertical-align : top;
	}
	.frontendinputfield{
		background-color:F0F0F0;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : 666666;
		padding: 1px;
	}
	.successtext {
		padding-bottom : 5px;
		padding-left : 5px;
		padding-right : 5px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 12px;
		font-weight : bold;
		color : #ffffff;
		background-color : #c4c4ff;
		border : 1px dashed #555555;
	}
	.toolheader {
		padding-bottom : 5px;
		padding-left : 5px;
		padding-right : 8px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 14px;
		font-weight : bold;
		text-align : right;
		color : #ffffff;
		background-color : #333333;
	}
	.formbuilderheader {
		padding-bottom : 5px;
		padding-left : 5px;
		padding-right : 5px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 12px;
		font-weight : bold;
		color : #FFFFFF;
		vertical-align : top;
		background-color : #4c4c4c;
	}
	.errortext {
		align: center;
		padding-bottom : 5px;
		padding-left : 8px;
		padding-right : 5px;
		padding-top : 5px;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 12px;
		color : #ffffff;
		background-color : #f4f4f4;
		border : 3px solid #cc0000;
	}
	.submitbuttonFront {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 11px;
		font-weight : bold;
		text-align : center;
		padding-left, padding-right:5px;
		padding-top, padding-bottom:2px;
		color : #5D8DB8;
		background-color : #ffffff;
		border: 1px solid #5D8DB8;
	}
	.submitbuttonGray {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 11px;
		font-weight : bold;
		text-align : center;
		padding-left:5px;
		padding-right:5px;
		color : #ffffff;
		background-color : #666666;
		border : 2px ridge #dadada;
	}
